<script src="https://giscus.app/client.js"
    data-repo="{{ .Site.Params.blog.comments.giscus.repo }}"
    data-repo-id="{{ .Site.Params.blog.comments.giscus.repoId }}"
    data-category="{{ .Site.Params.blog.comments.giscus.category | default "Comments" }}"
    data-category-id="{{ .Site.Params.blog.comments.giscus.categoryId }}"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    crossorigin="anonymous"
    async>
</script>
